@model Magisterka.ViewModels.HomeIndexViewModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Wpisz Kod</h1>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
            
            <div style="margin-top: 40px; padding: 40px; clear: both" class="col-sm-12">
                @using (Html.BeginForm())
                {
                    <div class="editor-field" style="width: 300px; float:left">
                        @Html.EditorFor(model => model.Code)
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>

                    <p style="margin-left: 50px; width:200px; float: left;">
                        <input  type="submit" class="btn btn-primary" style="background-color: cadetblue" value="Rozpocznij" />
                    </p>
                }
                
                <div style="clear: both">
                    @Model.Message
                </div>
            </div>
        </div>
    </section>
}
